/*
==================
===== GLOBAL =====
==================
*/

:root {
    --AmoriemWhite: #fae5c8;
    --AmoriemBlack: #3b123D;
    --AmoriemPink: #f37f93;
    --AmoriemBrightPink: #ed1395;
    --AmoriemDarkPink: #af4474;
    --AmoriemLightPink: #ffc4d6;
    --Canvas: #e6dccf;
}

@font-face {
    font-family: Archive;
    src: url(../fonts/Archive.otf);
}

@font-face {
    font-family: Exo;
    src: url(../fonts/Exo2.0-Regular.otf)
}

html {
    scrollbar-width: none;
    /* Hiding scrollbar in Firefox*/
}

body {
    margin: 0;
    -ms-overflow-style: none;
    background-color: white;
        /* Hiding scrollbar in IE/Edge */
}

body::-webkit-scrollbar {
    display: none;
    /* Hiding scrollbar in Chrome, Opera, etc. */
}

.unselectable {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

div,
p {
    line-height: 1.5;
    font-family: Exo, sans-serif;
    font-size: 2vh;
    color: var(--AmoriemBlack)
}


/*
==========================
===== NAVIGATION BAR =====
==========================
*/

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--AmoriemLightPink);
    height: 10vh;
    width: 100vw;
    gap: 10vw;
    z-index: 1;
    font-weight: bold;
}

.nav-item {
    font-family: Exo, sans-serif;
    font-size: 3vh;
    color: var(--AmoriemBlack);
    text-decoration: none;
}

.nav-item>img {
    height: 10vh;
}

.this-page {
    color: var(--AmoriemBrightPink);
}

/*
================
===== HERO =====
================
*/

.hero {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--AmoriemPink);
    height: 100vh;
    width: 100vw;
    gap: 10vw;
}

.title {
    font-family: Archive, sans-serif;
    color: var(--AmoriemBlack);
    font-size: 15vh;
    text-shadow: 2px 2px 0px var(--AmoriemWhite);
    z-index: 1;
}

.title:hover {
    transform: translate(-3px, -2px);
    text-shadow: 5px 4px 0px var(--AmoriemWhite);
    transition: 150ms;
}

#subtitle {
    margin: 40px;
    font-size: 5vh;
    font-weight: bold;
    z-index: 1;
}

@media (max-width: 1024px) {
    .title {
        font-size: 13vh;
    }
}

@media (max-width: 800px) {
    .hero {
        flex-direction: column;
    }

    #home-gif {
        width: 70vw;
    }
}

@media (max-width: 600px) {
    .hero {
        flex-direction: column;
    }

    .title {
        font-size: 7vh;
    }

    #subtitle {
        font-size: 2vh;
    }

    #home-gif {
        width: 70vw;
    }
}

/*
=================
===== PAGES =====
=================
*/

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10vh;
    padding-bottom: 10vh;
}

.page-title {
    font-family: Archive, sans-serif;
    color: var(--AmoriemBlack);
    font-size: 10vh;
    margin-top: 10vh;
    padding-top: 3vh;
    text-shadow: 2px 2px 0px var(--AmoriemPink);
}

.page-title:hover {
    transform: translate(-3px, -2px);
    text-shadow: 5px 3px 0px var(--AmoriemPink);
    transition: 250ms;
}

.page-header
{
    margin: 40px;
    font-size: 5vh;
    font-weight: bold;
    z-index: 1;
}

section {
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
.section-1 { background-color: #ffc4d6; }
.section-2 { background-color: #f8f8f8; }
.section-3 { background-color: #ffc4d6; }

.section-3 h1 {
    font-family: Archive, sans-serif;
    color: var(--AmoriemBlack);
    font-size: 8vh;
    margin-top: 10vh;
    padding-top: 3vh;
    text-shadow: 2px 2px 0px var(--AmoriemPink);
}

.section-3 div {
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */
    height: 100vh; 
}

.section-3 h1:hover {
    transform: translate(-2px, -1px);
    text-shadow: 5px 3px 0px var(--AmoriemPink);
    transition: 250ms;
}

/*
=====================
===== HOME PAGE =====
=====================
*/

.home-body
{
    background-color: var(--AmoriemLightPink);
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slideshow-container img
{
    border-radius: 8px;
}

.mySlides {
  display: none;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}


/*
======================
===== TEXT/IMAGE BOX =====
======================
*/

.text-and-image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    height: 90vh;
    box-sizing: border-box;
}
/* Left column for text */
.text-column {
    flex: 1;
    padding-right: 20px;
    height: 70vh;
    padding: 20px 60px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.text-column h2 {
    margin: 20px;
    font-size: 5vh;
    font-weight: bold;
    font-family: Archive;
    z-index: 1;
    color: var(--AmoriemPink);
    text-shadow: 2px 2px 0px var(--AmoriemDarkPink);
}

.text-column h2:hover {
    transform: translate(-2px, -1px);
    text-shadow: 5px 3px 0px var(--AmoriemDarkPink);
    transition: 250ms;
}

.text-column p {
    font-size: 3.5vh;
    text-align: left;
    color: var(--AmoriemBlack);
}

/* Right column for image */
.image-column {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image-column img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.image-column img:hover {
    transform: translate(-3px, -2px);
    box-shadow: 5px 3px 0px var(--AmoriemDarkPink);
    transition: 250ms;
}

@media (max-width: 768px) {
    .text-and-image-container {
        flex-direction: column;
        text-align: center;
    }
    
    .text-column, .image-column {
        padding: 0;
    }

    .image-column {
        margin-top: 20px;
    }
}




/*
=====================
===== GAME PAGE =====
=====================
*/

.game-card,
.game-card-rev {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
}

.game-card>img,
.game-card-rev>img {
    width: 40vw;
    border: 5px solid var(--AmoriemBlack);
    border-radius: 10px;
    box-shadow: 2px 2px 0px var(--AmoriemPink);
}

.game-card>img:hover,
.game-card-rev>img:hover {
    transform: translate(-3px, -2px);
    box-shadow: 5px 3px 0px var(--AmoriemPink);
    transition: 250ms;
}

.game-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4vh;
    width: 27vw;
}

.game-title {
    color: var(--AmoriemDarkPink);
    font-size: 5vh;
    font-weight: bold;
}

.game-link,
.contact-link {
    background-color: var(--AmoriemPink);
    color: var(--AmoriemBlack);
    border: 2px solid var(--AmoriemBlack);
    font-family: Archive, sans-serif;
    font-size: 3vh;
    text-decoration: none;
    padding: 2vh;
    border-radius: 10px;
    box-shadow: 5px 3px 0px var(--AmoriemBlack);
}

.game-link:hover,
.contact-link:hover {
    transform: translate(3px, 2px);
    box-shadow: 2px 1px 0px var(--AmoriemBlack);
    transition: 250ms;
}

@media (max-width: 800px) {
    .game-card {
        flex-direction: column;
        width: 90vw;
        gap: 3vh;
        align-items: center;
    }

    .game-card-rev {
        flex-direction: column-reverse;
        width: 90vw;
        gap: 3vh;
        align-items: center;
    }

    .game-card>img,
    .game-card-rev>img {
        width: 70vw;
    }

    .game-text {
        gap: 4vh;
        width: 70vw;
    }
}

/*
======================
===== ART MUSEUM =====
======================
*/

.art-museum {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    width: 70vw;
}

.art-piece {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.art-piece>img {
    width: max(200px, 12vw);
    background-color: var(--Canvas);
    border: 5px solid var(--AmoriemBlack);
    border-radius: 10px;
    box-shadow: 2px 2px 0px var(--AmoriemPink);
}

.art-piece>img:hover {
    transform: translate(-3px, -2px);
    box-shadow: 5px 3px 0px var(--AmoriemPink);
    transition: 250ms;
}

/*
=====================
===== TEAM PAGE =====
=====================
*/

.profile-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    justify-content: center;
    width: 70vw;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.profile-card>img {
    width: max(200px, 12vw);
    border: 5px solid var(--AmoriemDarkPink);
    border-radius: 10px;
    box-shadow: 2px 2px 0px var(--AmoriemPink);
}

.profile-card>img:hover {
    transform: translate(-3px, -2px);
    box-shadow: 5px 3px 0px var(--AmoriemPink);
    transition: 250ms;
}

.profile-name {
    color: var(--AmoriemBlack);
    font-size: 3vh;
    font-weight: bold;
}

/*
=====================
===== NEWS PAGE =====
=====================
*/


.news-card {
    display: flex;
    gap: 3vw;
    width: 70vw;
}

.news-card>img {
    width: max(200px, 12vw);
    height: max(200px, 12vw);
    border: 5px solid var(--AmoriemBlack);
    border-radius: 10px;
    box-shadow: 2px 2px 0px var(--AmoriemPink);
}

.news-card>img:hover {
    transform: translate(-3px, -2px);
    box-shadow: 5px 3px 0px var(--AmoriemPink);
    transition: 250ms;
}

.news-info {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.news-title {
    color: var(--AmoriemBlack);
    font-size: 5vh;
    font-weight: bold;
}

@media (max-width: 700px) {
    .news-card>img {
        display: none;
    }
}

/*
======================
===== ABOUT PAGE =====
======================
*/

#about-us-image {
    width: 70vw;
    border: 5px solid var(--AmoriemBlack);
    border-radius: 10px;
    box-shadow: 2px 2px 0px var(--AmoriemPink);
}

#about-us-image:hover {
    transform: translate(-3px, -2px);
    box-shadow: 5px 3px 0px var(--AmoriemPink);
    transition: 250ms;
}

.about-us {
    width: 70vw;
}

.highlight,
p>a {
    color: var(--AmoriemBrightPink);
    font-weight: bold;
}

figure {
    display: table;
}

figcaption {
    display: table-caption;
    caption-side: top;
    text-align: center;
    padding-bottom: 1em;
}

@media (max-width: 800px) {

    #about-us-image,
    .about-us {
        width: 90vw;
    }
}
